<link rel="stylesheet" href="../../../TimeTrackingSystem/UI/app/app.css">
<div class="container">
    <div class="login-form">
        <form class="thumbnail">
            <br>
            <div class="form-group row">
                <label for="inputLogin" class="col-xs-offset-1 col-xs-2 col-form-label topPosition">Логин</label>
                <div class="col-xs-8">
                    <input type="login" ng-model="loginUser.login" class="form-control" style="width: 100%" id="inputLogin" placeholder="Введите логин">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword" class="col-xs-offset-1 col-xs-2 col-form-label topPosition">Пароль</label>
                <div class="col-xs-8">
                    <input type="password" ng-model="loginUser.password" class="form-control" style="width: 100%" id="inputPassword" placeholder="Введите пароль">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-offset-1 col-xs-6">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="remember-me" ng-model="rememberMe"> <span class="text-nowrap">Запомнить меня</span>
                        </label>
                    </div>
                </div>
                <div class="col-xs-4 text-right">
                    <button type="submit" class="btn btn-primary" ng-click="authorization()">Войти</button>
                </div>
            </div>
        </form>
    </div>

    <!--Модальное окно вывода ошибки авторизации-->
    <script type="text/ng-template" id="modalContentForViewErrorAuthorization.html">
        <div class="modal-body text-danger"><strong>Ошибка!</strong> {{element}}</div>
    </script>
</div>

