<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Приемная комиссия</title>
    <meta name="description" content="Применая комиссия КГУ">
    <meta name="keywords" content="ksu, abiturient">
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/angular-bootstrap/ui-bootstrap-csp.css">
    <link rel="stylesheet" href="app.css?1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="bower_components/angular-ui-select/select.css">
    <link rel="stylesheet" href="bower_components/jquery/1.12.1/jquery-ui.css">
    <link rel="stylesheet" href="bower_components/calendar/css/eventCalendar.css">

</head>
<body ng-cloak>
<nav class="navbar navbar-dark navbar-expand-md sticky-top  navbar--apple bg-dark-transparent">
    <div class="container-fluid" ng-controller="UserCtrl">
        <button data-toggle="collapse" class="navbar-toggler" data-target="#menu">
            <span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon">
            <i class="la la-navicon"></i></span>
        </button>
        <div class="collapse navbar-collapse " id="menu">
            <ul class="nav navbar-nav flex-grow-1 justify-content-between">
                <li class="nav-item d-none d-xs-block d-md-block" role="presentation" style="display: contents">
                    <a class="nav-link" href="#">
                        <img src="images/ksulogo.png" style="width: 28.5px;margin-top: -6px;">
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link montserrat" href="#/main">ГЛАВНАЯ</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link montserrat" href="#/apply">ЗАЯВЛЕНИЯ</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link montserrat" href="#/direction">НАПРАВЛЕНИЯ</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link montserrat" href="#/priemnaya-komissiya">ПРИЕМНАЯ КОМИССИЯ</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link montserrat" href="#/support">ПОДДЕРЖКА</a>
                </li>
                <li class="nav-item" role="presentation" ng-if="!user">
                    <a class="nav-link montserrat0" href="#/login">ВОЙТИ</a>
                </li>
                <li class="nav-item" role="presentation" ng-if="user">
                    <div class="nav-item dropdown">
                        <a class="dropdown-toggle pointer nav-link" data-toggle="dropdown" aria-expanded="false" >АККАУНТ</a>
                        <div class="dropdown-menu" role="menu">
                            <a class="dropdown-item pointer" role="presentation" href="#/lk" >Мои данные</a>
                            <a class="dropdown-item divider" role="presentation"  ></a>
                            <a class="dropdown-item pointer" role="presentation" ng-click="logOut()" >Выйти</a>

                        </div>
                    </div>
                </li>
                <li ng-repeat-end="" ng-if="item.type == 3 &amp;&amp; item.bookmarkParent==null" role="presentation" class="divider ng-scope"></li>
            </ul>
        </div>

    </div>
</nav>

<div ng-view class="theme-showcase" role="main"></div>
<footer id="yt_footer" class="block main-color">
    <div class="container">
        <div class="row">
            <div id="yt_copyright" class="col-sm-12 marginTop10">

                <p class="copyright main-text-color small marginTop10">
                    © 2017-2020
                    Федеральное государственное бюджетное образовательное учреждение высшего образования «КОСТРОМСКОЙ  ГОСУДАРСТВЕННЫЙ УНИВЕРСИТЕТ»<br>
                    Лицензия на осуществление образовательной деятельности КГУ № 2371 от 06.09.2016 года.<br>
                    Свидетельство о государственной аккредитации № 2985 от 23.01.2019 года.<br>
                    156005, ЦФО, Костромская область, г.Кострома, ул.Дзержинского, д.17 Тел. +7 (4942) 49-80-00 (ректорат), +7 (4942) 49-80-44 (приемная комиссия)<br>
                    При перепечатке текстовой информации и фотографий ссылка на сайт обязательна.
                </p>
                <div class="footer-copyright text-center py-3">
                    <p class="main-text-color small">© 2017-2020 Copyright:
                    <a target="_blank" href="https://ksu.edu.ru/"> https://ksu.edu.ru/</a>
                    </p>
                </div>

            </div>
        </div>
    </div>

</footer>
<!--<div class="container">
    <div class="footer">
        <p>Powered by Kostroma State University</p>
        &lt;!&ndash;<p class="main-text" ng-controller="CopyrightDateCtrl">&copy; Костромской Государственный Университет, {{ dateString }} </p>&ndash;&gt;
    </div>
</div>-->

<!--Plugins and other components-->
<script src="bower_components/jquery/jquery.js"></script>
<script src="bower_components/jquery/jquery.maskedinput.min.js"></script>
<script src="bower_components/jquery/1.12.1/jquery-ui.js"></script>
<script src="bower_components/jquery/jquery.blockUI.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap/js/bootstrap.min.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-filter/dist/angular-filter.js"></script>
<script src="bower_components/angular-ui-select/select.js"></script>
<script src="bower_components/calendar/js/jquery.eventCalendar.js"></script>

<!--Angular JS files-->
<script src="app.js?1.0"></script>
<script src="services.js?1.0"></script>
<script src="login/login.js?1.0"></script>
<script src="lk/lk.js?1.0"></script>
<script src="apply/applyDocuments.js?1.0"></script>
<script src="direction/direction.js?1.0"></script>
<script src="prkom/prkom.js?1.0"></script>
<script src="support/support.js?1.0"></script>
<script src="mainPage/mainPage.js?1.0"></script>
<script src="registration/registration.js?1.0"></script>
<script src="remember/remember.js?1.0"></script>
<script src="modalWindows/ConfirmationModal/confirmationModal.js?1.0"></script>
<script src="modalWindows/InfoModal/infoModal.js?1.0"></script>


<script type="text/javascript" src="https://vk.com/js/api/openapi.js?1.0"></script>
</body>
</html>
