
<ul class="nav navbar-nav">

    <li id="lkPageLi" ng-class="{'my-active':selectedTab == 'lk'}" ng-click="setSelectedTabInTab('lk')" ng-mouseenter="selectedTab = 'lk'">
        <a href="#/lk">Личный кабинет</a>
    </li>

    <li id="applyPageLi" ng-class="{'my-active':selectedTab == 'apply'}" ng-click="setSelectedTabInTab('apply')" ng-mouseenter="selectedTab = 'apply'">
        <a href="#/apply"> Подать заявление</a>
    </li>

    <li id="directionPageLi" ng-class="{'my-active':selectedTab == 'direction'}" ng-click="setSelectedTabInTab('direction')" ng-mouseenter="selectedTab = 'direction'">
        <a href="#/direction">Направления</a>
    </li>

    <li id="prkomPageLi" ng-class="{'my-active':selectedTab == 'priemnaya-komissiya'}" ng-click="setSelectedTabInTab('priemnaya-komissiya')" ng-mouseenter="selectedTab = 'priemnaya-komissiya'">
        <a href="#/priemnaya-komissiya">Применая комиссия</a>
    </li>

    <li id="supportPageLi" ng-class="{'my-active':selectedTab == 'mainPage'}" ng-click="setSelectedTabInTab('mainPage')" ng-mouseenter="selectedTab = 'mainPage'">
        <a href="#/support">Поддержка</a>
    </li>

</ul>
<ul class="nav navbar-nav navbar-right" ng-if="user">
    <li id="userProfileLi" class="dropdown" ng-click="openDD();" ng-mouseleave="closeDropDown('userProfile')" ng-mouseenter="selectedTab = 'userProfile'; showDropDown('userProfile')">
        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <span class="bold">{{user.lastName+' '+user.firstName}}</span>
            <span class="caret bold"></span></a>
        <ul class="dropdown-menu dropdown-menu-navbar">
            <li ng-class="{'active':selectedTabInTab === 'editProfile'}" ng-click="setSelectedTabInTab('editProfile'); openProfile()"><a href="">Редактировать профиль</a></li>
            <li role="presentation" class="divider"></li>
            <li ng-class="{'active':selectedTabInTab === 'exit'}" ng-click="logOut()"><a href="">Выйти</a></li>
        </ul>
    </li>
</ul>